<AuthorizeView>
    <Authorized Context="navUser">
        @if (navUser.User.IsInRole("Student") && !navUser.User.IsInRole("Cook"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Today's Menu
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="my-orders">
                    <span class="bi bi-bag" aria-hidden="true"></span> My Orders
                </NavLink>
            </div>
        }
        @if (navUser.User.IsInRole("Cook"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kitchen (Orders)
                </NavLink>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">
            <a class="nav-link" href="authentication/login">Sign in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>