@inherits LayoutComponentBase

<AuthorizeView Roles="Admin">
    <Authorized Context="AdminLayout">
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page">
            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>
                <article class="content px-4">
                    <p class="text-danger fw-bold">Access denied. This application is for administrators only.</p>
                    <a href="authentication/logout">Sign out</a>
                </article>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
